#display{
}

.controls{
	border:1px solid black;
	width:500px;
	float:left;
}

.nodeSelectAttb{
	width:100%;
}


.label 
{
    display: inline-block;
    width: 50px;
}


.tags{
	width:50%;
	float:left;
}

.sendMessage{
	border:1px solid black;
}



tbody {
    background-color: lightgrey;
    height: 200px;
    overflow-y: scroll;
}

thead > tr, tbody{
    display:block;
}

td, th{
	width:55px;
	overflow:hidden;
    border-left:1px solid black;
    border-bottom:1px solid black;

}