#display{
}

.controls{
	border-left:3px solid black;
	width:500px;
    height:100%;
	float:left;
    padding-left:10px;

}

#controlPanel{
    position:absolute;
    width:100vw;
    bottom:0px;
    height:50px;
    background-color: rgba(255,255,255,0.6);

    -webkit-transition:height 0.1s;

    overflow-y:hidden; word-wrap:break-word; overflow-x:scroll;
    border-top: 3px solid black;

}
#controlPanel:hover{
    height:500px;

}
.nodeSelectAttb{
	width:94%;
    padding:2%;
    border:1px solid black;
    height:135px;
    overflow-y:scroll;
}

.selectRow{
    border-bottom:1px solid black;
    min-height:25px;
}

.closeBtn{
    padding:0px;
    margin:0px;
    height:25px;
    width:25px;
}

.label {
    display: inline-block;
    width: 50px;
}


.tags{
	width:50%;
	float:left;
}

.sendMessage{
	border:1px solid black;
}



tbody {
    background-color: rgba(220,223,255, 0.5);
    height: 200px;
    overflow-y: scroll;
}

thead > tr, tbody{
    display:block;
}

td, th{
	width:55px;
	overflow:hidden;
    border-left:1px solid black;
    border-bottom:1px solid black;

    padding:3px;
}

#speed{
    width:25px;
}

body{
    overflow:hidden;
}

#refreshNode{
    float:right
}